/* === SIMPLE PROFILE IMAGE === */
.profile {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

/* === HERO SECTION === */
.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.hero img {
  margin-top: 100px;
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 55px;
  font-weight: 600;
}

.hero h1 span {
  background: linear-gradient(270deg, #DA7C25 10%, #B923E1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 35px;
}

/* === CONNECT BUTTON === */
.hero-connect {
  padding: 14px 28px;   /* reduced size */
  border-radius: 45px;
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
  cursor: pointer;
  font-size: 15px;       /* slightly smaller text */
}

/* === RESUME BUTTON === */
.hero-resume {
  cursor: pointer;
  padding: 14px 45px;   /* reduced size */
  border-radius: 45px;
  border: 2px solid white;
  font-size: 15px;       /* slightly smaller text */
}

.hero-connect:hover {
  border: 2px solid white;
}

.hero-resume:hover {
  border-color: #B415FF;
}
