.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 170px;
  gap: 80px;
}

.contact-title {
  position: relative;
}

.contact-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.contact-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.contact-section {
  display: flex;
  gap: 90px;
  align-items: flex-start;
}

/* LEFT SIDE */
.contact-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 40%;
}

.contact-left h1 {
  font-size: 45px;
}

.contact-left p {
  font-size: 20px;
  line-height: 32px;
  color: #d4d4d4;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.contact-detail img {
  width: 30px;
}

/* RIGHT SIDE FORM */
.contact-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 450px;
}

.contact-right label {
  font-size: 20px;
}

.contact-right input,
.contact-right textarea {
  width: 100%;
  padding: 18px 20px;
  border-radius: 15px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-size: 18px;
  outline: none;
}

.contact-right input:focus,
.contact-right textarea:focus {
  border-color: #da7c25;
}

/* SUBMIT BUTTON */
.contact-submit {
  width: 180px;
  padding: 15px;
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
  border: none;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  margin-top: 10px;
  transition: 0.3s;
}

.contact-submit:hover {
  transform: scale(1.05);
}
