* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background: black;
  color: white;
  font-family: 'Outfit';
  padding-top: 85px; /* space for navbar */
}

html {
  scroll-behavior: smooth;
}

/* COLLECTIVE MOBILE FIX */
@media (max-width: 1024px) {
  body { padding-top: 80px; }
}

@media (max-width: 768px) {
  body { padding-top: 75px; }
}

@media (max-width: 480px) {
  body { padding-top: 60px; }
}

@media (max-width: 360px) {
  body { padding-top: 55px; }
}
